USE [master]
GO
/****** Object:  Database [Practica2]    Script Date: 02/24/2018 11:40:06 ******/
CREATE DATABASE [Practica2] ON  PRIMARY 
( NAME = N'Practica2', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Practica2.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Practica2_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\Practica2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica2]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 02/24/2018 11:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [int] NOT NULL,
	[IdEvento] [int] NULL,
	[PrecioBoleto] [int] NULL,
	[CantidadBoletos] [int] NULL,
	[PrecioTotal]  AS ([PrecioBoleto]*[CantidadBoletos])
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoBoleto]    Script Date: 02/24/2018 11:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoBoleto](
	[IdTipoBoleto] [int] NOT NULL,
	[NombTipoBoleto] [varchar](10) NULL,
	[IdSeccion] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Seccion]    Script Date: 02/24/2018 11:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Seccion](
	[IdSeccion] [int] NOT NULL,
	[NombSeccion] [varchar](10) NULL,
	[Precio] [int] NULL,
	[PrecioIVA]  AS ((0.16)*[Precio]+[Precio]),
	[IdBoleto] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 02/24/2018 11:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] NOT NULL,
	[NombCliente] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE CLUSTERED INDEX [IDX_NombCliente] ON [dbo].[Cliente] 
(
	[NombCliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boleto]    Script Date: 02/24/2018 11:40:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boleto](
	[IdBoleto] [int] NOT NULL,
	[IdCliente] [int] NULL
) ON [PRIMARY]
GO
